<%- include('partials/header.ejs') %>
  <body>


<!-- Modal - Bootstrap says to put above everything else -->
<div class="modal fade" id="commentsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="comments"></div>
      </div>
      <div class="modal-footer">
<!--         <button type="button" class="comment-btn btn btn-dark">Reply</button> -->
      </div>
    </div>
  </div>
</div>




    
    <div class="container d-flex justify-content-between">
      <h1 class="text-center">Otter Forum</h1>
      <div>
        <a class="btn btn-primary" href="/login">Login</a>
        <a class="btn btn-primary" href="/signup">Signup</a>
      </div>
    </div>
    
<!-- sf working here -->
    <div class="new-post-container container">
      <h3>Publish a Post</h3>
      <div class="form-floating">
        <textarea disabled class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Sign in to make a post :)</label>
        <button class="btn btn-dark">Post</button>
      </div>
    </div>
    

    
    <div class="container">
      <h3>Recent Posts</h3>
      Categories: 

      <select class="form-select category-select">
      <option>Select One</option>
        <% for (i=0; i < categories.length; i++) { %>
       
          <option value="<%=categories[i].category%>"><%=categories[i].category%></option>
         
        <% } %>
      </select>
    </div>
    
    <% for (i=0; i < posts.length; i++) { %>
    <div class="container post-container">
      <h6><%=posts[i].fname%> <%=posts[i].lname%></h6>
      <p><%=posts[i].text%></p>
      
      <div class="post-info">
        <%=posts[i].likes%> Like 
        <%=posts[i].dislikes %> Dislike
        
        <button id="<%=posts[i].idPost%>" class="comment-btn btn btn-dark btn-sm"><%=posts[i].comments %> comments</button>
      </div>
    </div>
  <% } %>

<script src="/js/homeScript.js"></script> 
    
  </body>
</html>